<div class="flex items-center bg-blue-500 p-6">
  <h1 class="font-semibold text-xl text-white">The Evolution of Cooperation</h1>
</div>

<div class="container mx-auto px-4">
  <Game />

  {{outlet}}
</div>
